.contenedor{
    width: 100%;
    height: 100%;
    background-color: darkred;
    text-align: center;
}

#panelPerfil{
    margin-top: 40px;
}

#tabla{
    width: 20%; 
    margin: auto;
    max-height: 400px;
    overflow-y: scroll;
}
