/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('/assets/imagenes/pizza.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
color: white;
}