<div *ngIf="!mesaElegida && listadoMesas.length > 0">
  <div>Adelante, elegí... estoy seguro de que atenderás</div>
  <div id="tabla">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th colspan="2">Mesas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mesa of listadoMesas">
          <td>{{mesa.id}}</td>
          <td><button (click)="elegirMesa(mesa.id)" class="btn btn-dark">Elegir</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="!mesaElegida && listadoMesas.length == 0">
  <h3>No hay mesas para atender</h3>
</div>
<div *ngIf="mesaElegida">
  <h2>Mesa {{ mesaElegida | cardinal }}</h2>
  <app-listado (cargarPedido)="generarPedido($event)"></app-listado>
  <p-fileUpload name="foto" url="{{'http://localhost/backend_tp2_lab4/Mesas/SubirFoto/' + mesaElegida}}" multiple="multiple"
    accept="image/*" maxFileSize="1000000">
    <ng-template pTemplate="content">
      <ul>
        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
      </ul>
    </ng-template>
  </p-fileUpload>
</div>