<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Registrar</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="registroForm" (ngSubmit)="Registrar()">
          <div class="input-group form-group has-error">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="usuario" [formControl]="usuario">
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="nombre" [formControl]="nombre">
          </div>
          <div class="input-group form-group">
            <select class="form-control" [formControl]="estado" required>
              <option value="" hidden disabled>Seleccione un estado</option>
              <option>activo</option>
              <option>suspendido</option>
            </select>
          </div>
          <div class="input-group form-group">
            <select class="form-control" [formControl]="perfil" required>
              <option value="" hidden disabled>Seleccione un perfil</option>
              <option>bartender</option>
              <option>candy</option>
              <option>cervecero</option>
              <option>cocinero</option>
              <option>mozo</option>
            </select>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="contraseña" [formControl]="clave" appPassRobusta [password]="clave.value">
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="repetir contraseña" [formControl]="copiaClave">
          </div>

          <div class="input-group form-group">
            <re-captcha [formControl]="captcha" (resolved)="resolved($event)" siteKey="6LdyS3gUAAAAACw9295xQkKuQXTcBQkXQHtprpPw"></re-captcha>
          </div>
          <div class="form-group">
            <input type="submit" value="Registrar" class="btn float-right login_btn" [disabled]="!registroForm.valid">
          </div>
        </form>
      </div>
    </div>
    <div id="snackbar">El empleado se guardó correctamente</div>
  </div>
</div>