<div class="contenedor">
  <div class="container">
    <img id="tituloComanda" src="../../../assets/imagenes/la_comanda.png">

    <div class="contenedorCarousel">
      <app-carousel></app-carousel>
    </div>
    <div class="contenedorBotones">
      <a (click)="ingresarEmpleado()" class="button4 bouncy" style="background-color:#9a4ef1">Ingresar como empleado</a>
      <a (click)="ingresarCliente()" class="button4 bouncy" style="background-color:#f14ebd; animation-delay:2s">Ingresar como cliente</a>
    </div>
  </div>
</div>