<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)="redirigirRegistro()">Registrar</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
      </ul>
    </div>
  </nav>

<div class="contenedor">
  <h1>Bienvenido/a {{ usuarioLogueado.nombre }} ({{ usuarioLogueado.perfil }}) </h1>
  <div class="graficoPie">
    <h3>Ventas por tipo de producto</h3>
    <div class="form-group">
      <select [(ngModel)]="tipoData" (change)="refrescarGrafico()" class="form-control">
        <option value="comidas">comidas</option>
        <option value="bebidas">bebidas</option>
        <option value="postres">postres</option>
      </select>
    </div>
    <p-chart *ngIf="tipoData != ''" type="pie" [data]="dataGrafico" [options]="configGrafico"></p-chart>
  </div>
  <div class="graficoPie">
    <h3>Productos por empleado</h3>
    <p-chart type="pie" [data]="dataGraficoEmpleado" [options]="configGrafico"></p-chart>
  </div>
  
  <app-exportar-csv [nombreArchivo]="'Ventas por empleado'" [datosAExportar]="dataCsv" [cabecera]="cabeceraCsv"></app-exportar-csv>
</div>